# Android/IntelliJ
*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

# Android Studio
.idea/*
!.idea/codeStyles
!.idea/runConfigurations

# Logs
*.log

# Gradle
.gradle/
build/
 
